# Created by .ignore support plugin (hsz.mobi)
/kafka-eagle-api/target/
/kafka-eagle-common/target/
/kafka-eagle-core/target/
/kafka-eagle-elasticsearch/target/
/kafka-eagle-grafana/target/
/kafka-eagle-plugin/target/
/kafka-eagle-web/target/
/kafka-eagle-web/logs/
/logs/
/.idea/