.filter_row{
    float: left;
    padding-left:15px;
}
.col-md-3{
    margin-top: 10px;
}
.filter_row{
    margin-top: 10px;
}
.window_{
    border: 1px solid #eee;
    padding: 10px;
    float: right;
    margin-right:200px;
}
.window_row{
    float: left;
    padding-left:15px;
}
.select_row{
    float: left;
    padding-left:15px;
    margin-top: 10px;
    width: 50%;
}